{ if not without_customization or not without_watermark }
<footer>
    <nav>
        <ul>
            { if not without_customization }
            <li><a href="{CHANGE_LANGUAGE_URL}">Change Language</a></li>
            <li class="dark-theme"><a href="{DARK_THEME_URL}">Use dark theme</a></li>
            <li class="light-theme"><a href="{LIGHT_THEME_URL}">Use light theme</a></li>
            { endif }
            { if not without_watermark }
            <li><span>Protection powered by <a href="https://github.com/tn3w/flask_Captchaify" target="_blank" ntr="1">Captchaify</a></span></li>
            { endif }
        </ul>
    </nav>
</footer>
{ endif }